ul {
  padding-left: 0px;
  text-decoration: none; }

a {
  color: black; }
  a:hover {
    color: #0d0d0d; }

.error {
  color: red; }

.contact-card-button-group {
  float: right; }
  .contact-card-button-group li {
    display: inline-block;
    margin-right: 0.5em; }
    .contact-card-button-group li:last-child {
      margin-right: 0em; }
